/* RJS Web App Styles */

/*
Per Angularjs instructions
https://angular-ui.github.io/bootstrap/
*/
#wfc-rjs-container a{
    cursor :pointer;
}
.nav, .pagination, .carousel, .panel-title a{
    cursor :pointer;
}
body{
    background-image :none !important;
}
#container{
    width            :100% !important;
    background-image :none !important;
}
#sidebar{
    display :none;
}
.st-sort-ascent:before{
    content :'\25B2';
}
.st-sort-descent:before{
    content :'\25BC';
}
/* @media (min-width :768px){ */
.wfc-modal-dialog .modal-dialog{
    /*width :70%;*/
}
#wfc-rjs-container table{
    font-size :12px;
    /*width:1240px;*/
    /*margin: 0 auto;*/
}
#wfc-rjs-container .table > thead > tr > th, #wfc-rjs-container .table > tbody > tr > td{
    padding    :2px;
    text-align :center;

}
.acf-fields > .acf-field.wfc-acf-message{
    border-top :none;
}
.acf-fields > .acf-field.wfc-acf-message .acf-input-wrap{
    overflow :visible;
}
.wfc-quick-field > li.acf-input input{
    /*width :20px;*/
}
ul.wfc-quick-field{
    width :135px !important;
}
.acf-field.wfc-quick-field .acf-label{
    vertical-align :top;
    margin         :0;
}
.wfc-quick-post-form .acf-form-submit{
    float       :right;
    padding-top :36px;
}
.wfc-quick-post-form .acf-field .acf-label label{
    font-size :12px;
    margin    :0;
}
.wfc-acf-first{
    clear :left !important;
}
#post-load-tab .acf-fields > .acf-field{
    padding :10px 12px
}
#post-load-tab .acf-label{
    display :none;
}
#post-load-tab .acf-field input[type="text"], #post-load-tab .acf-field input[type="password"], #post-load-tab .acf-field input[type="number"], #post-load-tab .acf-field input[type="search"], #post-load-tab .acf-field input[type="email"], #post-load-tab .acf-field input[type="url"], #post-load-tab .acf-field textarea, #post-load-tab .acf-field select{
    font-size   :11px;
    line-height :12px;
}
.rjs-quick-form label{
    font-weight :normal;
    font-size   :12px;
}
.errorinput{
    color      :#850000;
    background :rgba(254, 186, 186, 0.5);
    border     :1px solid #850000;
}
.wfc-table-loader{
    font-size :55px;
}
#truckForm, #bulkTruckForm{
    padding :10px;
}
.wfc-row{
    margin-bottom :5px;
}
.wfc-form-row{
    margin-bottom :5px;
}
.wfc-table-row{
    margin-bottom :5px;
}
/* } */

/** bootstrap loading animation **/
.glyphicon-refresh-animate{
    -animation        :spin .7s infinite linear;
    -ms-animation     :spin .7s infinite linear;
    -webkit-animation :spinw .7s infinite linear;
    -moz-animation    :spinm .7s infinite linear;
}
@keyframes spin{
    from{
        transform :scale(1) rotate(0deg);
    }
    to{
        transform :scale(1) rotate(360deg);
    }
}
@-webkit-keyframes spinw{
    from{
        -webkit-transform :rotate(0deg);
    }
    to{
        -webkit-transform :rotate(360deg);
    }
}
@-moz-keyframes spinm{
    from{
        -moz-transform :rotate(0deg);
    }
    to{
        -moz-transform :rotate(360deg);
    }
}
@media (min-width :992px){

    .modal-lg.wfc-modal-lg{
        width      :70%;
        margin-top :3%;
    }
}
/*
* ---- FORM OVERRIDES
* ---- .wfc-form-container parent class for all forms
*/
.wfc-form-container label{
    font-size :12px;
}
.wfc-form-container .form-control{
    display     :block;
    width       :100%;
    height      :30px;
    padding     :2px 10px;
    font-size   :12px;
    line-height :1.25;
}
h3.wfc-form-title{
    text-align:left;
}
/*===============================

* STYLING ADDITIONS
* AUTHOR: DATHAN CRUZ
* DATE: 8.14.15

================================*/

/*===============================

STYLE BULK INPUT FORM (POPUP)

================================*/

.navbar-default{
    margin-top :25px;
}
.wfc-form-container .container{
    padding-bottom :37px;
}
.wfc-form-container .row{
    padding-top    :15px;
    padding-bottom :15px;
}
label.control-label.wfc-section-title{
    display        :block;
    font-size      :14px;
    text-transform :uppercase;
    margin-bottom  :15px;
}
.wfc-form-container #truckForm label.control-label.wfc-section-title{
    margin-top    :13px;
    margin-bottom :5px;
}
select{
    width         :100%;
    min-height    :30px;
    border-radius :3px;
}
input[type=checkbox], input[type=radio]{
    margin-top   :5px;
    margin-left  :10px;
    margin-right :10px;
}
.row.special-information label.control-label.wfc-section-title{
    text-align :left;
    width      :100%;
}
.row.special-information textarea{
    width      :100%;
    min-height :150px;
}
.wfc-form-container button.btn.btn-success.btn-md.single-truck,
button.btn.btn-success.btn-md,
button.btn.btn-danger.btn-md,
button.btn.btn-info.btn-md{
    float        :right;
    margin-right :15px;
    margin-top   :10px;
}
.wfc-form-container button.btn.btn-success.btn-md.single-truck,
button.btn.btn-danger.btn-md{
    margin-right :0;
}
.col-md-6.origin-section,
.col-md-6.destination-city,
.row.trailer-type,
section#other-criteria,
.row.favorite-daily .col-md-6{
    background    :none scroll 0 0 #f6f6f6;
    border-radius :3px;
}
.col-md-6.origin-section,
.col-md-6.destination-city,
.row.favorite-daily .col-md-6{
    border-right :5px solid #FFFFFF;
}
.row.trailer-type{
    border-bottom :14px solid #FFFFFF;
}
section#other-criteria .row{
    margin-left  :0;
    margin-right :0;
}
.dropdown-menu{
    padding :0;
}
.active{
    color :red;
}
@media (min-width :992px){
    .wfc-form-container .container{
        width :100%;
    }
}