    {{message}}
    <table st-table="loads" class="table table-striped">
	<thead>
    <tr ng-repeat="load in loads">
		<th ng-repeat="(l_k, l_v) in load.meta">{{l_k | uppercase}}</th>
	</tr>
	<!--<tr>-->
		<!--<th>ID</th>-->
		<!--<th st-sort="title">Title</th>-->
		<!--<th>Origin City</th>-->
        <!--<th>Origin State</th>-->
        <!--<th>Destination City</th>-->
        <!--<th>Destination State</th>-->
        <!--<th>Trailer Type</th>-->
        <!--<th>Trailer Options</th>-->
        <!--<th>Partial</th>-->
        <!--<th>Amount</th>-->
        <!--<th>Distance</th>-->
        <!--<th>Weight</th>-->
        <!--<th>Qty</th>-->
        <!--<th>Pickup Date</th>-->
        <!--<th>Special Information</th>-->
        <!--<th>Handle</th>-->
        <!--<th>Handle Phone</th>-->
    <!--</tr>-->
	</thead>
	<tbody>
	<tr ng-repeat="load in loads">
		<td ng-repeat="(l_k, l_v) in filterSecId(load)">{{l_k}} : {{l_v}}</td>
	</tr>
	</tbody>
</table>

        <table st-table="rowCollection" class="table table-striped">
	<thead>
	<tr>
		<th st-sort="firstName">first name</th>
		<th st-sort="lastName">last name</th>
		<th st-sort="birthDate">birth date</th>
		<th st-sort="balance" st-skip-natural="true" >balance</th>
		<th>email</th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="row in rowCollection">
		<td>{{row.firstName | uppercase}}</td>
		<td>{{row.lastName}}</td>
		<td>{{row.birthDate | date}}</td>
		<td>{{row.balance | currency}}</td>
		<td><a ng-href="mailto:{{row.email}}">email</a></td>
	</tr>
	</tbody>
</table>